<p id="notice"><%= notice %></p>

<h1>Beta</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beta.each do |betum| %>
      <tr>
        <td><%= betum.name %></td>
        <td><%= betum.phone %></td>
        <td><%= betum.age %></td>
        <td><%= link_to 'Show', betum %></td>
        <td><%= link_to 'Edit', edit_betum_path(betum) %></td>
        <td><%= link_to 'Destroy', betum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Betum', new_betum_path %>
