<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @betum.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @betum.phone %>
</p>

<p>
  <strong>Age:</strong>
  <%= @betum.age %>
</p>

<%= link_to 'Edit', edit_betum_path(@betum) %> |
<%= link_to 'Back', beta_path %>
