<h1>Songs</h1>

<table>
  <thead>
    <tr style="font-weight: bold; text-align: center">
      <th>Name</th>
      <th>Brand</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Chord</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr class="check-data">
        <td><%= song.name %></td>
        <td><%= song.brand %></td>
        <td><%= song.album %></td>
        <td><%= song.genre %></td>
        <td><%= song.chord %></td>
      </tr>
    <% end %>
  </tbody>
</table>
